/* Body */
body {
    font-family: 'Roboto', sans-serif;
}


/* General */
.header,.hero {
    background-color: #1F2937;
}

/* Header section */
.header {
    
    padding: 20px;
    /* flex */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 10px;
}

.links {
    margin-right: 10px;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

ul a {
    color: #E5E7EB;
    filter: contrast(50%);
    text-decoration: none;
}

/* Hero section */
.title-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    filter: contrast(50%);
}

.placeholder-card {
    font-size: 18px;
    color: #f8fbff;
    background-color: rgb(162, 162, 162);
    width: 600px;
    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    width: 100px;
}

.hero {
    display: flex;
}